{
  "Project": {
    "GroupId": "goodplayer",
    "Name": "vendordep",
    "ImportRootPath": "github.com/goodplayer/vendordep"
  },
  "Deps": [
    {
      "GroupId": "goodplayer",
      "Name": "vendordep",
      "ImportRootPath": "github.com/goodplayer/vendordep",
      "VcsType": "git",
      "VcsUrl": "https://github.com/goodplayer/vendordep.git",
      "Version": "81d6743ada34fcd511b5bf48281b44d8cbf4c7d6"
    }
  ]
}
